body {
    background-color: #141414;
    height : 100%;
}

.loader {
    color : white;
    font-size: 30px
}

.movies {
    display : grid;
    grid-template-columns: 45% 45%;
    column-gap : 10%
}